* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
height: 60px;
/*background-color: darkred;*/
position: fixed;
}

ul{
    text-align: center;
    text-decoration: none;
    padding-right: 30px;
}

li {
    width:50px;
    list-style: none;
}

.nav > ul > li {
    padding-top: 25px;
}

.nav-list{
    float: right;
}
.nav-list li  {
     padding-right: 10px;
 }
.nav-list-left{
    float: left;
}

.nav-list-left >li>a{
    padding-left: 20px;
}

a {
    color: gray;
    text-decoration: none;
    font-family: arial,sans-serif;
}

nav > ul > li{
    color: gray;
    text-decoration: none;
    font-family: arial,sans-serif;
}

nav > ul > li >i{
    position:relative;
    top:-4px;
    z-index:2;
}

nav > ul {
    width: 200px;
    display: flex;
    flex-direction: row;
    float: right;
}

nav > ul > li{
    font-size: 14px;
}

.nav >ul :hover{
   text-decoration: underline;
}

.image{
    text-align: center;
    padding-top: 11%;
}

.icon{
    text-align: center;
}

.search{
    margin-top: 20px;
    text-align: center;
    margin-left: 450px;
    width: 625px;
    height: 45px;
    border-radius: 100px;
    border-color: lightgray ;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    position: relative;
    bottom: 5px;
    overflow: hidden;
    display: flex;
    z-index: 100;
}
#form-search:hover {
    box-shadow: 0px 2px 3px #e6e6e6;
}
#form-search > input {
    height: 45px;
    border-style: none;
    font-size: 16px;
    line-height: 45px;
    padding-left: 20px;
    flex: 1;
}

#search > input:focus {
    outline: none;
}

#search button {
    border: none;
    cursor: pointer;
}

#search button:focus {
    outline: none;
}

.buttons{
    text-align: center;
    margin-top: 30px;
}

.buttons > input{
    width: 150px;
    height: 40px;
    font-size: 15px;
}
footer {
    width: 100%;
    height: 60px;
    position: fixed;
}

.footer-left{
    float: left;
}

.footer-right{
    float: right;
}

footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 13px;
}

footer{
   bottom: 30px;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;

}
footer > ul > li{
    color: gray;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 14px;
    width: 100px;
}

footer >ul :hover{
    text-decoration: underline;
}
footer >ul>li>a{
    position:relative;
    top:10px;
    z-index:2;
}










