

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;

}

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
header {
    position: fixed;

    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}



.logo {
    width: 960px;
}
.logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}



nav {
    font-weight: 400;
}


nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    padding-top: 90px;
}

#hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}

#hero input[type='submit']:hover {
    background-color: orange;
    transition: background-color 1s;
}
.grid{
    margin-top: 90px;

}
.icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #d58512;
    float: left;
    clear: none;
}
.desc{
    margin-left: 100px;
}
#video{
    margin-top: 70px;
    text-align: center;

}
#how-it-works {
    text-align: center;
}
#pricing{
    text-align: center;
    padding-top: 50px;
}
.product {
    width: 300px;
    float: left;
    clear: none;
    text-align: center;
    border: 1px solid;
    margin-right: 30px;
}

.product ol > li{
    line-height:30px;
}
.product h2{
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: "Berlin Sans FB";
}
.level{
    background-color: #9d9d9d;
    height: 50px;
    font-weight: bold;
    font-size:20px;
    padding-top: 10px;
}

.btn{
    margin-top: 50px;
    width: 100px;
    height: 40px;
    font-size:20px;
    background-color: #f0ad4e;
}
footer{
    margin-top: 350px;
    text-align: right;
    background-color: #ddd;
}
footer > ul {
    display: flex;
    justify-content: flex-end;
}

footer > ul > li {
    padding: 0 10px;
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}



