



body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    background-color: #e4e4e4;


}



p {
    font-size: 18px;
}

h1,
p {
    margin-top: 0;
    margin-bottom: 8px;
}

label {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 8px;
}

input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border: none;
}

.container {
    width: 100%;
    margin: 50px auto 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

.text-center {
    text-align: center;
}

/* form */
.form-group {
    margin: 0 auto 20px auto;
    padding: 4px;
}

.form-control {
    display: inline;
    width: 500px;
    height: 35px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 04px;
}
.form-group{
    float: left;
    clear:both ;
}
.input-radio,.input-checkbox {
    margin-right: 10px;
    min-height: 20px;
    min-width: 20px;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    resize: vertical;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 12px;
    background: lightslategrey;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}
