body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}
body::before {
    content: '';
    position: fixed;
    top: 0;

    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #e4e4e4;
}

p {
    font-size: 18px;
}



label {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 8px;
}



button {
    border: none;
}

.container {
    width: 100%;
    margin: 50px auto 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

.text-center {
    text-align: center;
}

/* form */

.form-control {

    width: 500px;
    height: 35px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 04px;

}

.input-radio,.input-checkbox {
    margin-right: 10px;
    min-height: 20px;
    min-width: 20px;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    resize: vertical;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 12px;
    background: lightslategrey;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}

table, td {
    border:none;
    border-collapse: collapse;
}
td {
    text-align: center;
}
.acb {
    text-align: right;
}
.type-input{
    text-align: left;
    padding-left: 15px;
    height: 30px;
}
#from1{
   align-content: center;
}
.form-control1 {

    width: 200px;
    height: 35px;

    border: 1px solid #ced4da;


}